/* Background */
.Login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -45deg,
    #667eea,
    #764ba2,
    #6a11cb,
    #2575fc
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  padding: 20px;
}

/* Animated background */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Card animation */
.Login-card {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;

  padding: 40px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);

  animation: fadeUp 0.8s ease;
}

/* Card enter animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header */
.Login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.small-title {
  color: #f1f1f1;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.Login-header h1 {
  color: white;
  font-size: 34px;
  margin: 0;
}

/* Button top */
.edit-btn {
  border: none;
  padding: 10px 16px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: 0.3s;
}

.edit-btn:hover {
  transform: translateY(-2px);
  background: rgba(255, 255, 255, 0.3);
}

/* Form */
.Login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-group label {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

/* Inputs */
.form-group input {
  width: 100%;
  padding: 15px;
  border-radius: 14px;
  border: 2px solid transparent;
  outline: none;
  font-size: 15px;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.9);
}

.form-group input:focus {
  border: 2px solid #6a11cb;
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(106, 17, 203, 0.3);
}

/* Login Button */
.save-btn {
  margin-top: 25px;
  padding: 15px;
  border: none;
  border-radius: 14px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  color: white;

  background: linear-gradient(to right, #6a11cb, #2575fc);
  transition: all 0.3s ease;
}

.save-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(37, 117, 252, 0.4);
}

.save-btn:active {
  transform: scale(0.98);
}

/* Responsive */
@media (max-width: 500px) {
  .Login-card {
    padding: 30px 20px;
  }

  .Login-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .Login-header h1 {
    font-size: 28px;
  }
}

.register-footer{
    text-align: right;
    margin-top: 1rem;
}

.register-footer p:hover{
    cursor: pointer;
}